
html{
    height : 100%; 
}

body { 
    height : 100%;  
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image : linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,1) 100%), url(Imagens/diamante.png);*/  
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



